* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  background-color: #121212;
  font-size: 16px;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 1.2rem;
  font-weight: 700;
  flex-grow: 0;
  padding: 12px 24px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #121212;
  z-index: 1;
}

.nav-logo {
  max-height: 75%;
}

.search-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #303030;
  fill: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

main {
  flex-grow: 1;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}
